<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Levels</key>
	<array>
		<dict>
			<key>Tilemap</key>
			<string>Level01.tmx</string>
			<key>unlock</key>
			<true/>
		</dict>
		<dict>
			<key>Tilemap</key>
			<string>Level01.tmx</string>
			<key>unlock</key>
			<true/>
		</dict>
		<dict>
			<key>Tilemap</key>
			<string>Level01.tmx</string>
			<key>unlock</key>
			<true/>
		</dict>
		<dict>
			<key>Tilemap</key>
			<string>Level01.tmx</string>
			<key>unlock</key>
			<true/>
		</dict>
		<dict>
			<key>Tilemap</key>
			<string>Level01.tmx</string>
			<key>unlock</key>
			<true/>
		</dict>
		<dict>
			<key>Tilemap</key>
			<string>Level01.tmx</string>
			<key>unlock</key>
			<true/>
		</dict>
		<dict>
			<key>Tilemap</key>
			<string>Level01.tmx</string>
			<key>unlock</key>
			<true/>
		</dict>
		<dict>
			<key>Tilemap</key>
			<string>Level01.tmx</string>
			<key>unlock</key>
			<true/>
		</dict>
		<dict>
			<key>Tilemap</key>
			<string>Level01.tmx</string>
			<key>unlock</key>
			<true/>
		</dict>
		<dict>
			<key>Tilemap</key>
			<string>Level01.tmx</string>
			<key>unlock</key>
			<true/>
		</dict>
		<dict>
			<key>Tilemap</key>
			<string>Level01.tmx</string>
			<key>unlock</key>
			<false/>
		</dict>
		<dict>
			<key>Tilemap</key>
			<string>Level01.tmx</string>
			<key>unlock</key>
			<false/>
		</dict>
	</array>
	<key>Maps</key>
	<array>
		<dict>
			<key>Gates</key>
			<string>E1</string>
			<key>Height</key>
			<integer>12</integer>
			<key>Tilemap</key>
			<string>room_root.tmx</string>
			<key>Width</key>
			<integer>24</integer>
		</dict>
		<dict>
			<key>Gates</key>
			<string>W1-E2</string>
			<key>Height</key>
			<integer>12</integer>
			<key>Tilemap</key>
			<string>Level02.tmx</string>
			<key>Width</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>Gates</key>
			<string>W2-N1</string>
			<key>Height</key>
			<integer>18</integer>
			<key>Tilemap</key>
			<string>Level03.tmx</string>
			<key>Width</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>Gates</key>
			<string>W1-E2-S1</string>
			<key>Height</key>
			<integer>12</integer>
			<key>Tilemap</key>
			<string>Level04.tmx</string>
			<key>Width</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>Gates</key>
			<string>W1-E1-S2-N2</string>
			<key>Height</key>
			<integer>6</integer>
			<key>Tilemap</key>
			<string>Level05.tmx</string>
			<key>Width</key>
			<integer>24</integer>
		</dict>
		<dict>
			<key>Gates</key>
			<string>W1-E1</string>
			<key>Height</key>
			<integer>6</integer>
			<key>Tilemap</key>
			<string>Level06.tmx</string>
			<key>Width</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>Gates</key>
			<string>W1-S1</string>
			<key>Height</key>
			<integer>6</integer>
			<key>Tilemap</key>
			<string>Level07.tmx</string>
			<key>Width</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>Gates</key>
			<string>W1</string>
			<key>Height</key>
			<integer>6</integer>
			<key>Tilemap</key>
			<string>Level08.tmx</string>
			<key>Width</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>Gates</key>
			<string>N1-S1</string>
			<key>Height</key>
			<integer>6</integer>
			<key>Tilemap</key>
			<string>Level09.tmx</string>
			<key>Width</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>Gates</key>
			<string>E1</string>
			<key>Height</key>
			<integer>6</integer>
			<key>Tilemap</key>
			<string>Level10.tmx</string>
			<key>Width</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>Gates</key>
			<string>N1</string>
			<key>Height</key>
			<integer>6</integer>
			<key>Tilemap</key>
			<string>Level11.tmx</string>
			<key>Width</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>Gates</key>
			<string>S1</string>
			<key>Height</key>
			<integer>6</integer>
			<key>Tilemap</key>
			<string>Level12.tmx</string>
			<key>Width</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>Gates</key>
			<string>N1-S1-W1</string>
			<key>Height</key>
			<integer>6</integer>
			<key>Tilemap</key>
			<string>Level13.tmx</string>
			<key>Width</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>Gates</key>
			<string>N1-S1-W1-E1</string>
			<key>Height</key>
			<integer>6</integer>
			<key>Tilemap</key>
			<string>Level14.tmx</string>
			<key>Width</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>Gates</key>
			<string>E1-S1-W1</string>
			<key>Height</key>
			<integer>6</integer>
			<key>Tilemap</key>
			<string>Level15.tmx</string>
			<key>Width</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>Gates</key>
			<string>N1-N3</string>
			<key>Height</key>
			<integer>6</integer>
			<key>Tilemap</key>
			<string>Level16.tmx</string>
			<key>Width</key>
			<integer>36</integer>
		</dict>
		<dict>
			<key>Gates</key>
			<string>N2-S2-E1</string>
			<key>Height</key>
			<integer>6</integer>
			<key>Tilemap</key>
			<string>Level17.tmx</string>
			<key>Width</key>
			<integer>36</integer>
		</dict>
		<dict>
			<key>Gates</key>
			<string>W1-W2</string>
			<key>Height</key>
			<integer>12</integer>
			<key>Tilemap</key>
			<string>Level18.tmx</string>
			<key>Width</key>
			<integer>24</integer>
		</dict>
		<dict>
			<key>Gates</key>
			<string>E1-E2</string>
			<key>Height</key>
			<integer>12</integer>
			<key>Tilemap</key>
			<string>Level19.tmx</string>
			<key>Width</key>
			<integer>24</integer>
		</dict>
		<dict>
			<key>Gates</key>
			<string>S1</string>
			<key>Height</key>
			<integer>12</integer>
			<key>Tilemap</key>
			<string>Level20.tmx</string>
			<key>Width</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>Gates</key>
			<string>N1</string>
			<key>Height</key>
			<integer>12</integer>
			<key>Tilemap</key>
			<string>Level21.tmx</string>
			<key>Width</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>Gates</key>
			<string>N1-W1</string>
			<key>Height</key>
			<integer>6</integer>
			<key>Tilemap</key>
			<string>Level22.tmx</string>
			<key>Width</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>Gates</key>
			<string>N1-E1</string>
			<key>Height</key>
			<integer>6</integer>
			<key>Tilemap</key>
			<string>Level23.tmx</string>
			<key>Width</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>Gates</key>
			<string>E1-S1</string>
			<key>Height</key>
			<integer>6</integer>
			<key>Tilemap</key>
			<string>Level24.tmx</string>
			<key>Width</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>Gates</key>
			<string>E1-E3</string>
			<key>Height</key>
			<integer>18</integer>
			<key>Tilemap</key>
			<string>Level25.tmx</string>
			<key>Width</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>Gates</key>
			<string>W1-W3</string>
			<key>Height</key>
			<integer>18</integer>
			<key>Tilemap</key>
			<string>Level26.tmx</string>
			<key>Width</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>Gates</key>
			<string>N1-E1-S1</string>
			<key>Height</key>
			<integer>6</integer>
			<key>Tilemap</key>
			<string>Level27.tmx</string>
			<key>Width</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>Gates</key>
			<string>E1-S1-W1</string>
			<key>Height</key>
			<integer>6</integer>
			<key>Tilemap</key>
			<string>Level28.tmx</string>
			<key>Width</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>Gates</key>
			<string>S1-W1-N1</string>
			<key>Height</key>
			<integer>6</integer>
			<key>Tilemap</key>
			<string>Level29.tmx</string>
			<key>Width</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>Gates</key>
			<string>W1-N1-E1</string>
			<key>Height</key>
			<integer>6</integer>
			<key>Tilemap</key>
			<string>Level30.tmx</string>
			<key>Width</key>
			<integer>12</integer>
		</dict>
	</array>
	<key>Settings</key>
	<dict>
		<key>Music Volume</key>
		<integer>100</integer>
	</dict>
</dict>
</plist>
